<div class="page-title">
    <h4>Active tasks</h4>
    <button class="waves-effect waves-light btn grey darken-1" routerLink="/tasks/new">Add task</button>
</div>

<div class="row" *ngIf="activeTasks$ | async as activeTasks; else loader">
    <table class="highlight" *ngIf="activeTasks.length !== 0; else empty">
        <thead>
            <tr>
                <th>Description</th>
                <th>Expire date</th>
                <th>Amount of files</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let activeTask of activeTasks">
                <td>{{ activeTask.description }}</td>
                <td>{{ activeTask.expireDate }}</td>
                <td>{{ activeTask.files.length }}</td>
                <td>
                    <button type="button" class="btn waves-effect wavers-light btn-small" [routerLink]="['/tasks', activeTask._id]">View</button>
                </td>
                <td>
                    <button (click)="onClick($event, activeTask._id)" class="btn waves-effect wavers-light btn-small">Complete</button>
                </td>
            </tr>
            
        </tbody>
    </table>

	<ng-template #empty>
    	<div class="center">You don't have any active tasks!</div>
    </ng-template>
</div>

<ng-template #loader>
	<app-loader></app-loader>
</ng-template>