<div class="page-title">
    <h4>Completed tasks</h4>
    <button class="waves-effect waves-light btn grey darken-1" routerLink="/tasks/new">Add task</button>
</div>

<div class="row" *ngIf="completedTasks$ | async as completedTasks; else loader">
    <table class="highlight" *ngIf="completedTasks.length !== 0; else empty">
        <thead>
            <tr>
                <th>Description</th>
                <th>Expire date</th>
                <th>Amount of files</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let completedTask of completedTasks">
                <td>{{ completedTask.description }}</td>
                <td>{{ completedTask.expireDate }}</td>
                <td>{{ completedTask.files.length }}</td>
                <td>
                    <button type="button" class="btn waves-effect wavers-light btn-small" [routerLink]="['/tasks', completedTask._id]">View</button>
                </td>
            </tr>
            
        </tbody>
    </table>

    <ng-template #empty>
        <div class="center">You don't have any active tasks!</div>
    </ng-template>
</div>

<ng-template #loader>
	<app-loader></app-loader>
</ng-template>